.filter-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 65vw;
    position: relative;
    margin-top: 80px;
  }
  .filter-form{
    margin-top: 70px;
    height: 200px;
  }
  select {
    border: none;
    background-color: #dcdcdc;
    opacity: 0.6;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    padding: 5px;
    margin: 0px 10px 100px 0;
    width: 40%;
}

select:focus {
    outline: none;
  }
  
  select option {
    background-color: #dcdcdc;
    opacity: 0.8;
    color: #333;
    font-size: 16px;
    padding: 10px;
  }

  .calendar{
    width: 40%;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .link {
    color: #fff;
    text-decoration: none;
  }
  .select{
    align-content: center;
  }
  