.detail-card {
  display: flex;
  background: rgb(2, 2, 2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  margin: 16px;
  opacity: 0.8;
  color: #ffffff;
}

.detail-card-left {
  flex: 1;
  position: relative;
}

.movie-poster {
  width: 70%;
  height: 500px;
  display: block;
}

.movie-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 1);
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
}

.movie-card-right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  left: -40px;
}

.movie-details {
  display: flex;
  flex-direction: column;
}

.details-p {
  margin-bottom: 10px;
}

.movie-details strong {
  margin-right: 5px;
}

.movie-details button {
  padding: 8px;
  background: linear-gradient(90deg, rgba(85, 18, 130, 1) 0%, rgba(37, 67, 149, 1) 50%, rgba(9, 101, 108, 1) 100%);
  color: #ffffff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.movie-details button .link {
  text-decoration: none;
}

.cinema-projections-table {
  width: 100%;
  border-collapse: collapse;
}

.cinema-projections-table th,
.cinema-projections-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.cinema-projections-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.projection-time-btn {
  background-color: #501c1c;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}
td{
  color: #fff;
}