.details-page{
  height: 62vh;
}
.detail-card {
  display: flex;
  background: rgb(222, 190, 190);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  margin: 16px;
  opacity: 0.8;
  color: #000000;
  margin-top: 60px;
}

.detail-card-left {
  flex: 1;
  position: relative;
}

.movie-poster {
  height: 340px;
  width: 250px;
  display: block;
  position: relative;
  top: 10px;
  left: 22%;
  margin-bottom: 30px;
}

.movie-title {
  position: relative;
  bottom: 40px;
  left: 37px;
  width: 300px;
  padding: 0 10px 20px 0px;
  color: #000000;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}

.details-cinema-name{
  width: 40%;
  font-size: 18px;
  font-weight: bold;
}

.movie-card-right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  left: 50px;
  align-self: center;
}

.movie-details {
  display: flex;
  flex-direction: column;
}

.details-p {
  margin-bottom: 10px;
}

.movie-details strong {
  margin-right: 5px;
}

.cinema-projections-table {
  width: 500;
  border-collapse: collapse;
}

.cinema-projections-table th,
.cinema-projections-table td {
  border: 1px solid #3d3d3d;
  padding: 8px;
  text-align: center;
}

.cinema-projections-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.projection-time-btn {
  margin-bottom: 20px;
  width: 67px;
  justify-self: center;
  background-color: #701f1f;
  color: rgb(255, 255, 255);
  opacity: 1;
  margin-left: 15px;
  position: relative;
  top: 10px;
  height: 30px;
  padding: 3px 4px 3px 3px;
}
.projection-time-btn:hover{
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  background-color: #701f1f;
}

td{
  color: #000000;
}

.projection-type-times {
  display: flex;
  width: 400px;
  padding-left: 20px;
  align-items: center;
  height: 40px;
}