.movie-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-image: url(background.jpg);
    background-size: contain;
    background-position: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.movie-adds-section {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    height: 450px;
}

/* .movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 100px;
    position: relative;
    left: 2em;
} */

.movie-list-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    padding: 0 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    margin-bottom: 100px;
}

.movie {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
}

.movie img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.movie-details {
    padding: 10px;
}

.movie-details h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.movie-details p {
    margin-top: 0;
    margin-bottom: 5px;
}

/* .filter-btn {
    width: 470px;
    height: 30px;
    margin-left: 2%;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(85, 18, 130, 1) 0%, rgba(37, 67, 149, 1) 50%, rgba(9, 101, 108, 1) 100%);
    position: relative;
    top: 0.6em;
}

.filter-btn>.link {
    text-decoration: none;
    color: whitesmoke;
    padding-bottom: 5px;

} */