.profile-page {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffdbdb;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 70%;
}
.loading-div{
    height: 69.3vh;
}
.profile-page h1,
.profile-page h2 {
    color: #333;
    margin-bottom: 20px;
}
.profile-page h2{
    position: relative;
    left: -22px;
}

.profile-page p {
    margin-bottom: 10px;
    font-size: 18px;
}

.profile-page ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.profile-page li {
    margin-bottom: 5px;
}

.booking-history>li{
    position: relative;
    left: 23%;
    margin: 0;
    width: 60%;
    align-items: center;
    border-collapse: collapse;
    border: 1px solid black;
}