.profile-page {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.loading-div{
    height: 69.3vh;
}
.profile-page h1,
.profile-page h2 {
    color: #333;
    margin-bottom: 20px;
}

.profile-page p {
    margin-bottom: 10px;
}

.profile-page ul {
    list-style: none;
    padding: 0;
}

.profile-page li {
    margin-bottom: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
/* 

.profile-page {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    height: 76vh;
    text-align: center;
}

.profile-page h1,
.profile-page h2 {
    color: #333;
    margin-bottom: 20px;
}

.profile-page p {
    margin-bottom: 10px;
}

.profile-page ul {
    list-style: none;
    padding: 0;
}

.profile-page li {
    margin-bottom: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button {
    display: inline-block;
    margin-top: 20px;
  }

button:hover {
    background-color: #0056b3;
} */