.program-page{
  color: aliceblue;
  width: 80%;
}

.program-filters {
  display: flex;
  position: relative;
  left: 21%;
  top: 50px
}

h2 {
  text-align: center;
  margin-left: 7%;
  position: relative;
  left: 9%;
  top: 20px;
}

.movie-list-program {
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: relative;
  left: 7rem;
}