@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

// Variables
$primary-color: #2196f3;

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Base styles
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
}

form {
  @include flex-center;
  flex-direction: column;
  margin-top: 2rem;
  input {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    &:focus {
      outline: none;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    }
  }
  button[type="submit"] {
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: $primary-color;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

p {
  text-align: center;
  margin-top: 1rem;
  a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.register-btn {
  @include flex-center;
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: $primary-color;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.register-btn {
  a{
    text-decoration: none;
  }
}