.seat-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .seat {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  
  .seat.reserved {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .seat.selected {
    background: linear-gradient(90deg, rgba(85, 18, 130, 1) 0%, rgba(37, 67, 149, 1) 50%, rgba(9, 101, 108, 1) 100%);
    color: #fff;
  }
  
  .seats-btn {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(85, 18, 130, 1) 0%, rgba(37, 67, 149, 1) 50%, rgba(9, 101, 108, 1) 100%);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 44%;
  }
  
  .seats-p {
    background-color: rgb(41, 39, 39);
    color: white;
    width: 500px;
    box-sizing: border-box;
    height: 20px;
    border-radius: 11px;
    position: relative;
    left: 33.5%;
    padding-left: 15%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }