footer {
    /* background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(182, 8, 8) 50%, rgb(0, 0, 0) 100%); */
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    position: relative;
    bottom: -20px;
  }
  
  .column {
    width: 20%;
    margin-right: 20px;
  }
  
  .column:last-child {
    margin-right: 0;
  }
  
  .column h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .footer-p{
    position: relative;
    left: -33%;
  }
  
  .column p,
  .column ul {
    margin: 0;
    padding: 0;
  }
  
  .column li {
    list-style: none;
    margin-bottom: 5px;
  }
  
  .column li a {
    color: #fff;
    text-decoration: none;
  }
  
  .column li a:hover {
    text-decoration: underline;
  }
  
  .footer-links{
    text-decoration: none;
    color: white;
  }

  .footer-links:hover{
    color: rgb(235, 215, 166);
  }