.movie-card-container {
  background: rgb(222, 190, 190);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  width: 300px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  opacity: 0.8;
  margin-bottom: 1.3em;
}

.movie-card-container:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.movie-card-img {
  width: 80%;
  height: 280px;
  border-radius: 40px;
  padding-top: 15px;
}

.movie-card img {
  opacity: 1;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
}

button {
  display: inline-block;
  padding: 10px 20px; 
  background-color: #4CAF50; 
  color: white; 
  text-decoration: none; 
  font-size: 16px; 
  border: none; 
  cursor: pointer; 
}

button:hover {
  background-color: #45a049; 
}

.movie-card-btn {
  background-color: #531616;
  margin-left: 20px;
  border-radius: 10px;
  height: 30px;
  position: relative;
  right: 3%;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.movie-card-btn:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  background-color: #290808;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
