.movie-card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .movie-card-img {
    width: 100%;
    height: 250px;
  }
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    line-height: 1.5;
  }
  