.movie-card-container {
  background: rgb(222, 190, 190);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: rgb(0, 0, 0);
  width: 300px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  opacity: 0.8;
  margin-bottom: 1.3em;
}

.movie-card-container:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.movie-card-img {
  width: 80%;
  height: 280px;
}

.movie-card img {
  opacity: 1;
}

.card h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  line-height: 1.5;
}

button {
  display: inline-block;
  padding: 10px 20px; /* Adjust the padding as needed */
  background-color: #4CAF50; /* Set the background color */
  color: white; /* Set the text color */
  text-decoration: none; /* Remove the underline from the text */
  font-size: 16px; /* Set the font size */
  border: none; /* Remove the border */
  cursor: pointer; /* Change the cursor style to pointer when hovering */
}

button:hover {
  background-color: #45a049; /* Change the background color when hovering */
}

.movie-card-btn {
  background-color: #531616;
  margin-left: 20px;
  border-radius: 10px;
  height: 30px;
  position: relative;
  right: 3%;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.movie-card-btn:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  background-color: #290808;
}