.movie-card {
    text-align: center;
    background-color: white;
    padding: 16px;
    margin: 8px 0;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  
  .movie-card h3 {
    margin-bottom: 8px;
  }
  
  .movie-card p {
    margin-bottom: 8px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 8px;
  }
  
  .movie-card p:last-child {
    border-bottom: none;
  }
  