.nav-div{
  background: black;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  width: 100%;
}

.nav-bar {
  color: black;
  display: flex;
  padding: 10px 20px;
  width: 95%;
  margin-left: 200px;
}

.title{
  margin-right: 250px;
  margin-left: 110px;
}

.nav-bar li span, span{
  display: inline-block;
  width: 110px;
}
.nav-link {
  font-weight: bold;
}

.nav-link:hover {
  font-size: 25px;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-bar ul li {
  margin-right: 20px;
}

.nav-bar ul li:last-child {
  margin-right: 0;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
}

.nav-bar img:hover{
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.logout-btn {
  background: rgb(143, 14, 14);
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: 4px;
  color: rgb(255, 255, 255);
}
.logout-btn:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  background: rgb(143, 14, 14);
}

.right-side{
  display: block;
  position: relative;
  top:7px;
}
.not-logged{
  position: relative;
  left: 100px;
}