.nav-div{
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 65%;
}
.nav-bar li span, span{
  display: inline-block;
  width: 70px;
}
.nav-link {
  font-weight: bold;
}

.nav-link:hover {
  font-size: 18px;
}

.nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-bar ul li {
  margin-right: 20px;
}

.nav-bar ul li:last-child {
  margin-right: 0;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
}

.nav-bar img {
  position: "relative";
  left: "-20px";
}

.nav-bar img:hover{
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}