div.program-card {
  display: flex;
  width: 100%;
  margin: 10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 16em;
  background: rgb(222, 190, 190);
  opacity: 0.8;
  border-radius: 10px;
  align-items: center;
  position: relative;
  left: 3%;
  color: black;
}
.program-projections-table{
  width: 90%;
  border-collapse: collapse;
  position: relative;
  left: 10px;
}
.program-projections-table td {
  border: 1px solid #3f3f3f;
  padding: 8px;
  text-align: left;
  color: black
}
.movie-program-h1{
  font-size: 23px;
}
.program-card-header{
  font-size: 20px;
  width: 400px;
}

.program-card img {
  width: 210px;
  height: 230px;
  position: relative;
  left: 1rem;
  align-self: center;
}

.program-tr {
  height: 30px;
}

.cinema-projections-table {
  align-items: center;
  position: relative;
  top: 8%;
  left: 5%;
}

.projection-type-times {
  display: flex;
  width: 300px;
  padding-left: 20px;
  align-items: center;
  height: 40px;
}

.projection-btn-program {
  margin-bottom: 20px;
  width: 67px;
  justify-self: center;
  background-color: rgb(129, 21, 21);
  color: white;
  opacity: 1;
  margin-left: 20px;
  position: relative;
  top: 10px;
  height: 30px;
  padding: 3px 4px 3px 3px;
}
.projection-btn-program:hover{
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  background-color: rgb(110, 22, 22);
}
td{
  padding: 0;
}