div.program-card {
  display: flex;
  width: 80em;
  margin: 10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 16em;
  background-color: rgb(68, 20, 20);
  opacity: 0.8;
  border-radius: 10px;
  align-items: center;
}

.movie-name-h1 {
  padding-top: 40%;
  font-size: 20px;
}

.td-cinema-name{
  width: 300px;
}

.program-card img {
  width: 210px;
  height: 230px;
  position: relative;
  left: 1rem;
  align-self: center;
}

.program-tr {
  height: 30px;
}

.cinema-projections-table {
  align-items: center;
  position: relative;
  top: 8%;
  left: 5%;
}

.projection-type-times {
  display: flex;
  width: 400px;
  padding-left: 20px;
  align-items: center;
  height: 40px;
}

.projection-btn-program {
  margin-bottom: 20px;
  width: 67px;
  justify-self: center;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  opacity: 1;
  margin-left: 20px;
  position: relative;
  top: 10px;
  height: 30px;
  padding: 3px 4px 3px 3px;
}
.projection-btn-program:hover{
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  background-color: black;
}
td{
  padding: 0;
}