.ticket-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
  }
  
  .ticket-table th,
  .ticket-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .ticket-table thead tr {
    background-color: #3f51b5;
    color: #0e0a0a;
  }
  
  .ticket-table tbody tr {
    background-color: coral;
  }
  
  .ticket-table tbody  {
    background-color: #d4a3a3;
  }
  
  .count-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .count-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 5px;
  }
  
  button {
    background-color: #3f51b5;
    color: #110f0f;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
  }
  
  button:hover {
    background-color: #283593;
  }
  