.ticket-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    font-family: 'Playfair Display', serif;
    margin: 20px 0;
  }
  .tickets-table-btn{
    background-color: #fd9e9e;
    color:#000000
  }
  .tickets-table-btn:hover{
    background-color:  #fd9e9e;
    transform: scale(1.1);
  }
  .count-th{
    width: 80px;
    padding-left: 20px;
  }
  .ticket-table th,
  .ticket-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #fd9e9e;
    color: rgb(0, 0, 0);
  }
  .ticket-table th{
    background-color: #fd9e9e;
  }
  .ticket-table thead tr {
    background-color: #ffffff;
    color: #0e0a0a;
  }
  
  /* .ticket-table tbody tr {
    background-color: rgb(135, 37, 30);
    color: white;
  } */
  
  .ticket-table tbody  {
    background-color: #ffffff;
  }
  
  .count-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .count-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 5px;
  }
  
  button {
    color: #110f0f;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
  }
  
  button:hover {
    background-color: #2f9226;
  }
  