@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
}

input{
  font-family: 'Playfair Display', serif;
}